@media (max-width: 768px) {
    
body {
        padding: 10px;
    }

.main-heading {

      font-size: 28px;
      padding: 15px;
      margin: 15px;
      overflow: break-word;

}

nav a {
         
     display: block;
     margin: 5px 0;
     padding: 10px;
     word-wrap: break-word;

    }

nav {

  margin: 10px;

}    

section {

        padding: 20px;
        margin: 10px;
        box-sizing: border-box;
    }

p {

      font-size: 16px;

    }


.project a 
#about a{

    display: block;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    margin: 10px 0;

     
}
    

input,
textarea {

      width: 100%;
      box-sizing: border-box;
      

    }

#contactForm {

     width: 100%;
     margin: 20px 0;

    }


label {

     display: block;
     margin-bottom: 5px;

    }

 img {

    max-width: 100%;
    height: auto;

 }

}