@media (max-width: 768px) {
    
body {
        padding: 10px;
    }

.main-heading {

      font-size: 20px;
      padding: 10px;
      margin: 5px;
      overflow: break-word;

}

nav a {
         
     display: block;
     margin: 4px 0;
     padding: 9px;
     word-wrap: break-word;

    }

nav {

  margin: 8px;
  padding: 8px;

}    

section {

        padding: 15px 12px;
        margin: 8px 0;
        box-sizing: border-box;
    }


section h2 {

      font-size: 18px;
      margin-bottom: 10px;

    }    
    

p {

      font-size: 16px;
      margin: 8px 10px;
      line-height: 1.5;

    }


.project a 
#about a{

    display: block;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    margin: 10px 0;

     
}

.project h3 {
    
      font-size: 16px;
      
}
    

input,
textarea {

      width: 100%;
      box-sizing: border-box;
      

    }

#contactForm {

     width: 100%;
     margin: 20px 0;

    }


label {

     display: block;
     margin-bottom: 5px;

    }

 img {

    max-width: 100%;
    height: auto;

 }

}