body{
    font-family: Arial, sans-serif;
    margin: 0;
    background-image:url('images/images\ \(4\).jpeg');
    color: #333333;
}

.main-heading{
    color: #121212;
    padding: 20px;
    margin: 30px;
    border: 2px solid rgba(255, 255, 255, 0.7);
    text-align: center;

}


.hidden{
    display: none;
}


nav{
    background-color: rgba(160, 239, 232, 0.847);
    padding: 10px;
    margin: 20px;
    text-align: left;
    
}

nav a{
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    margin: 10px;
    background-color: transparent;
    border: none;
    color: black;
    border-radius: 6px;
    
}

nav a:hover {
    color: white;
    background-color: rgba(255, 255, 255, 0.2);
}

section{
    padding: 40px;
    margin: 20px;
    background-color: rgba(160, 239, 232, 0.847);
}

section h2 {
    color: #222222;
    margin-top: 0;
    margin-bottom: 20px;

}


#about a {

    display: inline-block;
    margin-top: 10px 20px;
    padding: 10px 16px;
    background-color: #333333;
    color: #ffffff;
    text-decoration: none;
    border-radius: 6px;

}


#about a:hover {
    background-color: #555555;
}


.project {

    padding: 20px;
    margin-top: 20px;
    background-color: rgba(160, 239, 232, 0.847);
    border: 1px solid rgba(80, 80, 80, 0.4);
    border-radius: 8px;
}


.project h3 {
    
    color: #222222;
    margin-top: 0;
}


.project a {

    display: inline-block;
    margin-top: 10px;
    padding: 10px 16px;
    background-color: #333333;
    color: white;
    text-decoration: none;
    border-radius: 6px;
     
}


.project a:hover {
    background-color: #555555;
}


label {

     display: block;
     margin-bottom: 5px;

    }


#contactForm {

    margin: 20px auto;

}

#contactForm label{

    display: block;
    margin-bottom: 5px;
    font-weight: bold;

}

#contactForm input,
#contactForm textarea {

      width: 50%;
      box-sizing: border-box;
      margin-bottom: 15px;
      margin-top: 5px;
      padding: 10px;
      border: 1px solid #999999;
      border-radius: 5px;
      font-size: 16px;

    }


#contactForm textarea {

    min-height: 120px;
    resize: vertical;

}   


#formMessage {

   text-align: center;
   margin-top: 20px;
   padding: 10px;
   background-color: rgba(255, 255, 255, 0.75);
   border-radius: 6px;


}


form button {

     display: block;
     margin-top: 5px;

}


p{

    color: #333333;
    font-size: 18px;
    margin: 10px 20px;
    line-height: 1.6;
    
}


button{

   padding: 10px 18px;
   border: none;
   border-radius: 6px;
    background-color: #333333;
    color: white;
    cursor: pointer;
    font-size: 16px;
}


button:hover {

    background-color: #555555;

}